<table summary="Task form fields">
  <tr>
    <th><%= f.label(:title) %></th>
    <td><%= f.text_field(:title) %></td>
  </tr>
  <tr>
    <th><%= f.label(:author) %></th>
    <td><%= f.text_field(:author) %></td>
  </tr>
  <tr>
    <th><%= f.label(:price) %></th>
    <td><%= f.text_field(:price) %></td>
  </tr>
  <tr>
    <th><%= f.label(:publishedDate) %></th>
    <td><%= f.date_select(:publishedDate) %></td>
  </tr>
</table>
